<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yield prediction</title>
</head>
<body>
<div class="container">
    <div class="pred-heading">
        <h1>Welcome to Yeild Predictor</h1>
    </div>
    <div class="pred-body">
        <form action="{{url_for('predict')}}" method="post">

            <br>
            <br>
            <label><b>Nitrogen Content:</b></label>
            <input type="text" name="nitrogen" id="nitrogen" placeholder="Enter the Value">
            <br>
            <br>
            <label><b>Phosphorous Content:</b></label>
            <input type="text" name="phosphorous" id="phosphorous" placeholder="Enter the Value">
            <br>
            <br>
            <label><b>Potassium Content:</b></label>
            <input type="text" name="potassium" id="potassium" placeholder="Enter the Value">
            <br>
            <br>
            <label><b>Temprature:</b></label>
            <input type="text" name="temp" id="temp" placeholder="Enter the Value">
            <br>
            <br>
            <label><b>Ph Value:</b></label>
            <input type="text" name="phv" id="phv" placeholder="Enter the Value">
            <br>
            <br>
            <label><b>Humidity:</b></label>
            <input type="text" name="humid" id="humid" placeholder="Enter the Value">
            <br>
            <br>
            <label><b>Rainfall:</b></label>
            <input type="text" name="rain" id="rain" placeholder="Enter the Value">
            <br>
            <br>
            <label><b>Select the CROP:</b></label>-->
            <select class="crop_pred" name="CROP" id="CROP" required="1" >
                {% for crop in crops %}
                    <option value="{{ crop }}">{{ crop }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button type="submit">Predict Yield</button>

        </form>
    </div>
    <h3>{{prediction_text}}</h3>


</body>
</html>